<div>Имя: {{ order.name }}</div>
<div>Ник: {{ order.nick }}</div>
<div>Возраст: {{ order.age }}</div>
<div>Контакты: {{ order.contacts }}</div>
<div>Медицинские противопоказания: {{ order.health }}</div>
<div>Пищевые ограничения: {{ order.food }}</div>
<div>Психологические противопоказания: {{ order.psychological }}</div>
<div>Желаемая роль: {{ order.role }}</div>
<div>Чего хочет: {{ order.want }}</div>
<div>Чего не хочет: {{ order.nowant }}</div>
<div>Дополнение: {{ order.other }}</div>